.footer {
  background-color: #ffb5ff67;
  font-family: "Quintessential", cursive;
}

.logo {
  width: 180px;
  height: 150px;
  mix-blend-mode: darken;
}

.mapItem {
  color: black;
}

.title {
  font-weight: bold;
  color: #a4868d;
}
