<div class="footer">
  <div class="container-fluid" style="text-align: center;">
    <div class="row">
      <div class="col-md-4 ">
        <h2 class="title">Contacto</h2>
        <p>
          <i class="fa fa-map-marker"></i>
          <span>Calle de la Libertad, 1, 28001 Madrid</span>
        </p>
        <p>
          <i class="fa fa-phone"></i>
          <span>+34 666 666 666</span>
        </p>
        <p>
          <i class="fa fa-envelope"></i>
          <span>bordados.infantes@gmail.com</span>
        </p>
      </div>
      <div class="col-md-4 img">
        <img src="../../assets/navbar-img/Logo Infantes.jpg" class="img-fluid logo" alt="">
      </div>
      <div class="col-md-4 road">
        <h2 class="title">Mapa web</h2>
        <ul style="list-style-type:none;">
          <li>
            <a class="mapItem" href="">Inicio</a>
          </li>
          <li>
            <a class="mapItem" href="">Nosotros</a>
          </li>
          <li>
            <a class="mapItem" href="">Servicios</a>
          </li>
          <li>
            <a class="mapItem" href="">Portafolio</a>
          </li>
          <li>
            <a class="mapItem" href="">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 copyright text-center">
        <p> Copyright &copy; 2022 - Bordados Infantes</p>
      </div>
      <div class="col-md-6 privacy text-center">
        <a href="">Politica de privacidad</a>
      </div>
    </div>
  </div>
</div>
