<nav class="navbar navbar-light bg-light firstNav">
  <div class="container firstPart">
    <div class="row align-items-start">
      <div class="col iconBox">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-shopify"></i>
      </div>
      <div class="col iconBox">
        <i class="fas fa-envelope"><span>info@bordados.com</span>
        </i>
        <i class="fab fa-whatsapp"><span> +34666666666</span>
        </i>
      </div>
      <div class="col iconBox justify-content-end"><span>Tu cuenta</span>
        <i class="fas fa-shopping-cart"></i>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-light bg-light secondNav">
  <div class="container secondPart">
    <img src="../../assets/home-img/Logo Infantes.jpg" class="img-fluid logo" alt="...">
  </div>
</nav>
