<div class="container-fluid main" style="background-color: hsl(291, 64%, 94%);">
  <div class="container nameTitle">
    <h2>José Infantes Candil</h2>
  </div>
  <div class="row justify-content-center principal">
    <div class="col-md-5">
      <div class="img">
        <img src="../../assets/home-img/card-1.jpg">
      </div>
    </div>
    <div class="col-md-3">
      <div class="imgText">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae animi reiciendis, suscipit qui repellat
        aspernatur inventore officia omnis ducimus reprehenderit ad. Delectus sit reprehenderit cumque dicta
        praesentium, perspiciatis ullam quia.
      </div>
    </div>
  </div>
</div>
