<div class="container-fluid main" style="background-color: hsl(291, 64%, 94%);">
  <div class="container nameTitle">
    <h2>José Infantes Candil</h2>
  </div>
  <div class="row justify-content-center principal">
    <div class="col-md-5">
      <div class="img">
        <img src="../../assets/home-img/card-1.jpg">
      </div>
    </div>
    <div class="col-md-3">
      <div class="imgText">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae animi reiciendis, suscipit qui repellat
        aspernatur inventore officia omnis ducimus reprehenderit ad. Delectus sit reprehenderit cumque dicta
        praesentium, perspiciatis ullam quia.
      </div>
    </div>
  </div>
  <div class="container mainText">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, repudiandae delectus vel fuga quaerat sequi quos,
    facere ipsam placeat eveniet molestias voluptatibus tempore nulla assumenda laborum vero unde laboriosam inventore!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius neque quaerat culpa maxime commodi et dolorum
    accusantium modi architecto? Dignissimos optio quaerat atque quod molestiae itaque vel veniam nam! Corrupti!
  </div>
  <div class="container contacto">
    <a class="contactButton" [routerLink]="['/contacto']" routerLinkActive="router-link-active">Contacto</a>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <p class="item">Proyectos</p>
      <br>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit explicabo repudiandae quaerat alias molestias
      nostrum iste necessitatibus deserunt debitis perferendis neque, ipsam ad, architecto repellat temporibus iure
      dolores facilis quo.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius corporis minus perferendis aperiam animi ut
      deserunt consequatur recusandae dignissimos, ipsum fuga repellat accusantium, quaerat minima nam aliquid porro
      laudantium ex!
    </div>
    <div class="col-md-3 offset-md-2">
      <p class="item">Experiencia</p> <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis aliquid placeat at, vero laudantium iure corrupti
      perspiciatis maxime sit vel cum consequuntur architecto asperiores, aliquam modi quos repellat blanditiis? Libero?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, commodi illum dolore autem optio aut quidem,
      molestiae cupiditate maxime magnam blanditiis eligendi molestias! Doloribus dicta ratione omnis totam laboriosam
      saepe?
    </div>
  </div>
  <div class="container formador">
    <h2 class="forTitle">Como formador</h2>
    <div class="row justify-content-center">
      <div class="col-md-3 ">
        <p class="formadorText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, et doloremque at
          explicabo eligendi numquam facere reiciendis sint iure natus in repellendus necessitatibus quaerat recusandae!
          Ad dolorem tempora explicabo doloremque? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed nam,
          animi, vel quam totam fugit velit facilis eius corporis sit molestiae impedit ducimus amet voluptas harum
          fugiat nostrum illo est?</p>
      </div>
      <div class="col-md-3 offset-md-2">
        <div id="carouselformador" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/home-img/carrousel-2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselformador" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselformador" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
