<!--carousel-->

<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/home-img/carusel/carusel-1.jpg" class="d-block w-100" id="carrousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/home-img/carusel/carusel-2.jpg" class="d-block w-100" id="carrousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/home-img/carusel/carusel-3.JPG" class="d-block w-100" id="carrousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Cards-->

<div class="grid">
  <div class="item">
    <a href="#0" aria-labelledby="Bordados en oro" data-bs-toggle="modal" data-bs-target="#staticBackdropLabel"></a>
    <img src='../../assets/home-img/cards-front/Card-1.jpg' alt=''>
    <div class="item__overlay">
      <h3 id="person1" aria-hidden="true">Bordados en oro</h3>
      <div class="item__body">
        <p>Nuestros trabajos de bordado en oro son unicos en diseño y em tecnicas de bordado, dando mucho mimo a cada
          detalle.</p>
      </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="staticBackdropLabel" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title w-100 text-center" id="staticBackdropLabel">Bordados en oro</h5>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1">
                </div>
                <div id="caruselModal" class="carousel slide carousel-fade carouselModal" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/carrousel-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#caruselModal"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#caruselModal"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="col-5" id="textModal">
                  Bordados Infantes es un taller de ornamentos para la liturgia y aderezo de imagenes de
                  culto totalmente artesano y con más de 25 años de vida. Trabajamos de forma tradicinaI nuestras
                  prendas, poniendo todo esmero y cuidado para conseguir las mejores
                  resultadosen nuestros trabajos.
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="modalButton" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <a href="#1" aria-labelledby="Sastrería" data-bs-toggle="modal" data-bs-target="#staticBackdropLabel1"></a>
    <img src='../../assets/home-img/cards-front/Card-2.JPG' alt=''>
    <div class="item__overlay">
      <h3 id="person1" aria-hidden="true">Sastreria</h3>
      <div class="item__body">
        <p>Sastreria en trabajos finos, a medida y con cualidades únicas</p>
      </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="staticBackdropLabel1" tabindex="-1"
      aria-labelledby="staticBackdropLabel1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title w-100 text-center" id="staticBackdropLabel1">Sastrería</h5>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1">
                </div>
                <div id="caruselModal2" class="carousel slide carousel-fade carouselModal" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/carrousel-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#caruselModal2"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#caruselModal2"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="col-5" id="textModal">
                  Como complemento a la realización de nuestros bordados para la liturgia nade nuestra
                  sastreria clerical. Trabajados a medida de forma tradicional y artesanal y con un resultado
                  impecable, Nuestro trabajo constante de invesigación, recuperacón de prendas y
                  accesorios para clerigos de varias diocesis, nos hace ser unicos en nuestro campo en el
                  territorio español.
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="modalButton" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <a href="#2" aria-labelledby="Cordonería" data-bs-toggle="modal" data-bs-target="#staticBackdropLabel2"></a>
    <img src='../../assets/home-img/cards-front/card-3.jpg' alt=''>
    <div class="item__overlay">
      <h3 id="person2" aria-hidden="true">Cordonería</h3>
      <div class="item__body">
        <p>Nuestras mejoras borlas y cordones para tus necesidades.</p>
      </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="staticBackdropLabel2" tabindex="-1"
      aria-labelledby="staticBackdropLabel2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title w-100 text-center" id="staticBackdropLabel2">Cordonería</h5>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1">
                </div>
                <div id="caruselModal3" class="carousel slide carousel-fade carouselModal" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/carrousel-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#caruselModal3"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#caruselModal3"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="col-5" id="textModal">
                  Nuestras borlas y cordones, realizados totalmente a mano, están inspirados en la antigua pasamanería
                  de siglos pasados. Además de realizar copias ofrecemos nuestro servicio de piezas nuevas.
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="modalButton" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <a href="#3" aria-labelledby="Iconos bizantinos" data-bs-toggle="modal" data-bs-target="#staticBackdropLabel3"></a>
    <img src='../../assets/home-img/cards-front/card-4.jpg' alt=''>
    <div class="item__overlay">
      <h3 id="person3" aria-hidden="true">Iconos bizantinos</h3>
      <div class="item__body">
        <p>Formas con iconos bizantinos y religiosos como novedad dentro del bordado en España</p>
      </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="staticBackdropLabel3" tabindex="-1"
      aria-labelledby="staticBackdropLabel3" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title w-100 text-center" id="staticBackdropLabel">Iconos bizantinos</h5>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1">
                </div>
                <div id="caruselModal4" class="carousel slide carousel-fade carouselModal" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/carrousel-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#caruselModal4"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#caruselModal4"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="col-5" id="textModal">
                  Desde hace un tiempo, por curiosidad y por aprender otras formas de bordado me decidí a hacer un curso
                  on line de bordados de iconos rusos con Elena. La experiencia ha sido muy particular, contando
                  con trabas tan importantes como el idioma. Al final, gracias a la ayuda de Elena he podido
                  hacer cosas tan interesantes como estas.
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="modalButton" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <a href="#4" aria-labelledby="Restauración textil" data-bs-toggle="modal"
      data-bs-target="#staticBackdropLabel4"></a>
    <img src='../../assets/home-img/cards-front/card-5.jpg' alt=''>
    <div class="item__overlay">
      <h3 id="person4" aria-hidden="true">Restauración textil</h3>
      <div class="item__body">
        <p>Una parte de la parte del trabajo de cualquier artesano es su dedicación a la amiración de trabajos de sus
          antecesores y por lo tanto para mi , un honor el poder rescatar viejos trabajos y poder restaurarlos.</p>
      </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="staticBackdropLabel4" tabindex="-1"
      aria-labelledby="staticBackdropLabel4" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title w-100 text-center" id="staticBackdropLabel4">Restauración textil</h5>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1">
                </div>
                <div id="caruselModal5" class="carousel slide carousel-fade carouselModal" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/carrousel-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="modalImg">
                      <img src="../../assets/home-img/card-1.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#caruselModal5"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#caruselModal5"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="col-5" id="textModal">
                  Conscientes de lo que significa la restauración de textiles que forman parte de nuestro patrimonio,
                  ponemos en marcha nuestro taller de restauración/conservación especializado. Nuestro personal está
                  perfectamente cualificado para realizar labores de asesoramiento y conservación preventiva; todas
                  nuestras intervenciones constan de informes técnicos así como orientación en pautas de conservación.
                  Estamos especializados en todos los formatos textiles tanto tejidos planos como en indumentaria.
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="modalButton" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <a href="#5" aria-labelledby="Tienda" data-bs-toggle="modal" data-bs-target="#staticBackdropLabel5"></a>
    <img src='../../assets/home-img/cards-front/tienda.png' alt=''>
    <div class="item__overlay">
      <h3 id="person5" aria-hidden="true">Tienda</h3>
      <div class="item__body">
        <p>En construcción</p>
      </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="staticBackdropLabel5" tabindex="-1"
      aria-labelledby="staticBackdropLabel5" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title w-100 text-center" id="staticBackdropLabel">Tienda</h5>
          </div>
          <div class="modal-body">
            <h2 style="text-align: center;">Proximamente</h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="modalButton" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Conóceme button-->
<div class="container-fluid bgColor">
  <div class="container-fluid aboutMe">
    <div>

      <button type="button" class="button-1" id="but" [routerLink]="['/conoceme']"
        routerLinkActive="router-link-active">Conóceme</button>
    </div>
  </div>
</div>
<!--interviews-->

<!--Sectión title-->
<div class="d-flex justify-content-center interviews-title">
  Comparto contigo algunas entrevistas
</div>

<!--Posts-->
<div class="container-fluid interviews-post">
  <div class="row">
    <div class="col-7" id="description"><span>En Castilla la Mancha Televisión</span>
      <br><br>
      <p>En este reportaje de la televisión manchega aparecemos varios artesanos y contamos nuestras
        experiencias y
        oficios de cómo damos esa vida y esencia al Cristo Cautivo.
        A partir del 1:47 resumo mi trabajo muy brevemente</p>
    </div>
    <div class="col-sm-4">
      <base href="../../assets/home-mp4/videoplayback.mp4">
      <figure id="customcontrols">
        <video controls poster="../../assets/home-img/card-1.jpg">
          <source src="../../assets/home-mp4/videoplayback.mp4" type="video/webm">
        </video>
        <figcaption>
          <a href="#">▶</a>
          <cite>Cristo Cautivo</cite>
        </figcaption>
      </figure>
    </div>
    <div class="col-sm-4">
      <base href="../../assets/home-mp4/videoplayback.mp4">
      <figure id="customcontrols">
        <video controls poster="../../assets/home-img/card-1.jpg">
          <source src="../../assets/home-mp4/videoplayback.mp4" type="video/webm">
        </video>
        <figcaption>
          <a href="#">▶</a>
          <cite>El arte de bordar</cite>
        </figcaption>
      </figure>
    </div>
    <div class="col-7" id="description2"><span>En Castilla la Mancha Televisión</span>
      <br><br>
      <p>En este reportaje de la televisión manchega aparecemos varios artesanos y contamos nuestras
        experiencias y
        oficios de cómo damos esa vida y esencia al Cristo Cautivo.
        A partir del 1:47 resumo mi trabajo muy brevemente</p>
    </div>
    <div class="col-7" id="description3"><span>En Castilla la Mancha Televisión</span>
      <br><br>
      <p>En este reportaje de la televisión manchega aparecemos varios artesanos y contamos nuestras
        experiencias y
        oficios de cómo damos esa vida y esencia al Cristo Cautivo.
        A partir del 1:47 resumo mi trabajo muy brevemente</p>
    </div>
    <div class="col-sm-4">
      <base href="../../assets/home-mp4/videoplayback.mp4">
      <figure id="customcontrols">
        <video controls poster="../../assets/home-img/card-1.jpg">
          <source src="../../assets/home-mp4/videoplayback.mp4" type="video/webm">
        </video>
        <figcaption>
          <a href="#">▶</a>
          <cite>Manto de la virgen de la antigua</cite>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
